

article{
  box-shadow: 1px 1px 10px silver;
  margin-bottom: 30px;
  padding: 10px 30px;
  margin-left: 8%;
  width: 80%;
}

h3{
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

article .container{
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.row{
  display: flex;
  flex-direction: row;
}
.col3{
  width: 28%;
  padding: 20px;
}

col{
  width: 50%;
}

.col7{
  margin-left: 150px;
}

.col{
  display: flex;
  justify-content: space-between;
}

.btn{
  background-color: rgb(19, 155, 245);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
}
