<article class="w-full max-w-none">
  <div class="container">
      <div class="col3">
          <img src="{{article.photo}}" height="300" alt="" >
      </div>
      <div class="col7">
          <h3>{{article.title}}</h3>
          <p>{{article.slug}}</p>
          <p><i>Publié par <b>{{article.auteur}}</b>    Le  {{article.create_at}}</i></p>
          <div class="col">
              <div>
                  <p>5 commentaires</p>
              </div>
              <div >
                @for (item of article.categories; track $index) {
                  <p>{{item.name}}</p>
                }
                <!-- <p *ngFor="let categorie of category" [categorie]="categorie"></p> -->
                 <!-- <p></p> -->
              </div>
              <div>
                  <p ><a [routerLink]="['/article', article.id ]" class="btn">Voir plus</a></p>
              </div>
          </div>
      </div>
  </div>
</article>
